:root {
  --color-bg-main: #141922;
  --color-text-standard: #ffffff;
  --color-text-subtitle-main: #7b7e82;
  --color-bg-sidebar: #000000;
  --color-bg-toolbar: #282828;
  --color-text-subtitle-bars: #717171;
  --color-dark-line: #5a5a5a;
  --color-light-line: #c1c1c1;
  --color-details-green: #1cdf63;
  --color-transparency: #acff2f00;
}
/* main */
main {
  padding-top: 0;
}
#jumbotron {
  height: 45%;
  min-height: 250px;
  background-image: url("../img/lana_profile.jpg");
  background-size: cover;
  background-position-y: 30%;
  padding: 30px 20px;
}
h1 {
  font-size: 6rem;
  margin: -5px 0 10px -6px;
}
#jumbotron span {
  color: var(--color-text-standard);
}
.fa-certificate {
  position: relative;
  font-size: 1.5rem;
  color: #3d91f4;
  margin-right: 5px;
}
.fa-check {
  position: absolute;
  font-size: 1rem;
  color: var(--color-text-standard);
  left: calc(50% - 7px);
  top: calc(50% - 8px);
}
#jumbotron .info span:last-child {
  font-size: 1rem;
}
main ul.wrap-button {
  width: 100%;
  max-width: 250px;
  padding: 20px;
}
main ul.wrap-button li:first-child a {
  color: var(--color-details-green);
  font-size: 3.5rem;
}
main ul.wrap-button li:first-child a i:hover {
  transform: scale(1.1);
  transition-duration: 0.1s;
  transition-timing-function: linear;
}
main ul.wrap-button li .button {
  color: var(--color-text-standard);
  font-size: 0.8rem;
  padding: 7px 12px;
  border: 1px solid var(--color-text-subtitle-main);
  border-radius: 50px;
}
main ul.wrap-button li .button:hover {
  border-color: var(--color-text-standard);
  transition-duration: 0.2s;
  transition-timing-function: linear;
}
main ul.wrap-button li:last-child a {
  font-size: 2rem;
  color: var(--color-text-subtitle-main);
}
main ul.wrap-button li:last-child a i:hover {
  color: var(--color-text-standard);
  transition-duration: 0.2s;
  transition-timing-function: linear;
}
main .best-songs {
  padding: 5px 20px;
  gap: 20px;
}
main .best-songs .left {
  width: calc(60% - 20px);
}
main .best-songs .right {
  width: calc(40% - 20px);
}
main .table .row {
  border-radius: 5px;
  margin-bottom: 10px;
}
main .best-songs .left img {
  width: 50px;
  aspect-ratio: 1 / 1;
}
main .best-songs .title-view {
  width: 60%;
}
main .best-songs .left span.order {
  position: relative;
  min-width: 16px;
  color: var(--color-light-line);
  margin: 15px 25px;
}
main .best-songs .left span.order i {
  position: absolute;
  top: 0;
  left: 0;
  color: var(--color-transparency);
}
main .best-songs .left a.title-track {
  font-size: 0.9rem;
  color: var(--color-light-line);
  margin-left: 10px;
}
main .best-songs .left a.title-track:hover {
  text-decoration: underline;
}
main .best-songs .duration {
  padding: 0 5px;
  width: 100%;
  max-width: 100px;
}
main .best-songs .duration i {
  color: var(--color-transparency);
}
main .table .row:hover {
  background-color: #323e55;
  transition-duration: 0.1s;
  transition-timing-function: linear;
}
main .table .row:hover span.order i {
  color: var(--color-text-subtitle-main);
  transition-duration: 0.2s;
  transition-timing-function: linear;
}
main .table .row:hover span.order span {
  color: var(--color-transparency);
}
main .table .row:hover .duration i {
  color: var(--color-text-subtitle-main);
  transition-duration: 0.2s;
  transition-timing-function: linear;
}
main .best-songs .duration a i:hover {
  color: var(--color-light-line);
  transition-duration: 0.2s;
  transition-timing-function: linear;
}
main .best-songs .duration a:hover .duration a i {
  color: var(--color-light-line);
  transition-duration: 0.2s;
  transition-timing-function: linear;
}
