@media screen and (max-width: 1200px) {
  main .card {
    width: calc(100% / 4 - 15px);
  }
  main .right {
    display: none;
  }
  main .best-songs .left {
    width: 100%;
  }
}
@media screen and (max-width: 992px) {
  main .card {
    width: calc(100% / 3 - 15px);
  }
}
@media screen and (max-width: 768px) {
  main .card {
    width: calc(100% / 2 - 15px);
  }
  h1 {
    font-size: 4rem;
    margin-left: 0;
  }
  main .best-songs .left .table .row .title-view>div:last-child {
    display: none;
  }
}
@media screen and (max-width: 576px) {
  .top-bar {
    width: calc(100% - 50px);
    left: 50px;
  }
  #sidebar {
    width: 50px;
    padding: 5px 10px;
  }
  main {
    width: calc(100% - 50px);
  }
  #logo-big,
  .sidebar-top .menu .text,
  .sidebar-top .playlist,
  .sidebar-bottom .install span,
  .sidebar-bottom .gray-line,
  .sidebar-bottom .profile .name {
    display: none;
  }
  #logo-small {
    display: block;
  }
  .sidebar-top .menu,
  .sidebar-bottom {
    margin-top: 5px;
    align-items: center;
  }
  .menu .green-line {
    left: -13px;
  }
  .sidebar-bottom .profile {
    margin: 20px 0 5px 0
  }
}
@media screen and (max-width: 400px) {
  main .card {
    width: 100%;
  }
  .album>div:last-child {
    display: none;
  }
  .volume {
    justify-content: space-around;
  }
  .volume i:not(.fa-volume-high) {
    display: none;
  }
  h1 {
    font-size: 2.7rem;
    margin-left: 0;
  }
  main .best-songs .left .table .row .title-view span.order {
    display: none;
  }
}
@media screen and (max-height: 230px) {
  .top-bar {
    display: none;
  }
}
