/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}

/* general */
body {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 1em;
}
:root {
  --color-bg-main: #141922;
  --color-text-standard: #ffffff;
  --color-text-subtitle-main: #7b7e82;
  --color-bg-sidebar: #000000;
  --color-bg-toolbar: #282828;
  --color-text-subtitle-bars: #717171;
  --color-dark-line: #5a5a5a;
  --color-light-line: #c1c1c1;
  --color-details-green: #adff2f;
  --color-transparency: #acff2f00;
}
img {
  display: block;
  width: 100%;
}
.wrapper {
  height: 100vh;
  min-width: 400px;
}
.content {
  height: calc(100vh - 90px);
  width: 100%;
}

/* top bar */
.top-bar {
  background-color: rgba(0, 0, 0, 0.555);
  height: 90px;
  width: calc(100% - 230px);
  padding: 30px 40px;
  position: fixed;
  top: 0;
  left: 230px;
  z-index: 10;
}
.top-bar a {
  color: var(--color-text-standard);
  font-size: 0.8rem;
  padding: 12px 40px;
  border: 2px solid var(--color-text-standard);
  border-radius: 50px;
}
.top-bar a:hover {
  font-size: 1rem;
  padding: 15px 45px;
  margin-right: -20px;
  transition-duration: 0.3s;
}
/* side bar */
#sidebar {
  width: 230px;
  min-height: 480px;
  background-color: var(--color-bg-sidebar);
  color: var(--color-text-subtitle-bars);
  padding: 20px 20px 10px;
}
.sidebar-top {
  height: calc(100% - 80px);
}
.sidebar-bottom {
  height: 80px;
  background-color: var(--color-bg-sidebar);
}
#logo-big {
  width: 70%;
  margin-bottom: 25px;
}
#logo-small {
  display: none;
}
.menu li{
  padding: 5px 0;
  position: relative;
}
.menu .icon {
  width: 25px;
}
.menu .text {
  font-size: small;
  color: var(--color-text-subtitle-bars);
  padding: 5px 10px 5px 5px;
}
.menu .green-line {
  height: 35px;
  border-left: 3px solid var(--color-transparency);
  position: absolute;
  left: -20px;
  top: calc(50% - 35px / 2);
}
.menu a:hover .icon,
.menu a:hover .text,
.playlist a:hover {
  filter: brightness(0) invert(1);
  transition-duration: 0.2s;
  transition-timing-function: linear;
}
.menu a:hover .green-line {
  border-color: var(--color-details-green);
  transition-duration: 0.3s;
  transition-timing-function: linear;
}
h5 {
  color: var(--color-text-standard);
  margin: 20px 0 5px 0;
}
#sidebar .sidebar-top .playlist {
  min-height: 0;
  overflow: hidden;
}
.playlist a {
  color: var(--color-text-subtitle-bars);
}
.playlist ul {
  height: 100%;
  font-size: small;  
  overflow-y: auto;
}
.playlist li {
  padding: 10px 0;
}
.playlist .text {
  padding: 5px 10px;
  font-size: 0.9rem;
}
.playlist .icon {
  font-size: 2.5rem;
}
.sidebar-bottom .install a {
  font-size: small;
  color: var(--color-text-subtitle-main);
}
.sidebar-bottom .install a:hover {
  color: var(--color-text-standard);
  transition-duration: 0.2s;
  transition-timing-function: linear;
}
.sidebar-bottom .gray-line {
  width: 100%;
  border-bottom: 1px solid var(--color-text-subtitle-main);
  margin: 10px 0 15px 0;
}
.profile .icon {
  background-color: var(--color-text-subtitle-main);
}
.profile .icon img {
  width: 25px;
  aspect-ratio: 1 / 1;
}
.profile .name h5 {
  margin: 0;
  padding: 5px 10px;
}

/* main */
main {
  width: calc(100% - 230px);
  background-color: var(--color-bg-main);
  color: var(--color-text-standard);
  padding-top: 110px;
  overflow-y: auto;
}
nav {
  max-width: 700px;
  padding: 5px 30px;
  margin: 0 auto;
  font-size: 0.8rem;
}
nav ul {
  row-gap: 30px;
}
nav a {
  position: relative;
  color: var(--color-text-subtitle-main);
  padding: 5px 10px;
}
nav .green-line {
  width: 30px;
  border-bottom: 2px solid var(--color-transparency);
  position: absolute;
  bottom: 0;
  left: calc(50% - 15px);
}
nav a:hover {
  color: var(--color-text-standard);
  transition-duration: 0.2s;
  transition-timing-function: linear;
}
nav a:hover .green-line {
  border-color: var(--color-details-green);
  transition-duration: 0.3s;
  transition-timing-function: linear;
}
main section {
  padding: 25px 20px;
}
h2 {
  margin-bottom: 30px;
}
main .card-wrapper {
  gap: 15px;
}
main .card {
  width: calc(100% / 6 - 15px);
}
main .card .img-content img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main .card .img-content {
  width: 100%;
  aspect-ratio: 1 / 1;
  margin-bottom: 20px;
  position: relative;
  cursor: pointer;
}
main .card .img-content i {
  color: var(--color-transparency);
  font-size: 60px;
  position: absolute;
  top: calc(50% - 61px / 2);
  left: calc(50% - 60px / 2);
}
main .card .img-content:hover i {
  color: var(--color-text-standard);
  transition-duration: 0.2s;
  transition-timing-function: linear;
}
main .card .img-content:hover img {
  filter: brightness(40%);
  transition-duration: 0.3s;
  transition-timing-function: linear;
}
main .card .text-content {
  text-align: center;
}
h4 {
  margin-bottom: 10px;
}
main span,
.subtitle {
  color: var(--color-text-subtitle-main);
  font-size: small;
}
main .subtitle {
  margin: -20px 0 30px 0;
}
.circle {
  border-radius: 50%;
  overflow: hidden;
}

/* tool bar */
#toolbar {
  background-color: var(--color-bg-toolbar);
  height: 90px;
  z-index: 3;
}

/* text utility */
.title {
  text-transform: uppercase;
}

/* flex utility */
.d-flex {
  display: flex;
}
.fd-column {
  flex-direction: column;
}
.f-wrap {
  flex-wrap: wrap;
}
.j-end {
  justify-content: flex-end;
}
.j-center {
  justify-content: center;
}
.j-spacebetween {
  justify-content: space-between;
}
.ac-start {
  align-content: flex-start;
}
.ai-center {
  align-items: center;
}
.ai-flexstart {
  align-items: flex-start;
}
